<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>incisor</string>
	<string>canine</string>
	<string>premolar</string>
	<string>molar</string>
	<string>wisdom_tooth</string>
	<string>crown</string>
	<string>filling</string>
	<string>cavity</string>
	<string>plaque</string>
	<string>tartar</string>
	<string>gingivitis</string>
	<string>periodontitis</string>
	<string>gum_recession</string>
	<string>tooth_decay</string>
	<string>enamel_erosion</string>
	<string>cracked_tooth</string>
	<string>chipped_tooth</string>
	<string>missing_tooth</string>
	<string>impacted_tooth</string>
	<string>crooked_tooth</string>
	<string>overbite</string>
	<string>underbite</string>
	<string>crossbite</string>
	<string>open_bite</string>
	<string>crowding</string>
	<string>spacing</string>
	<string>malocclusion</string>
	<string>bruxism</string>
	<string>tmj_disorder</string>
	<string>oral_cancer</string>
	<string>leukoplakia</string>
	<string>oral_thrush</string>
	<string>canker_sore</string>
	<string>cold_sore</string>
	<string>abscess</string>
	<string>root_canal</string>
	<string>extraction_site</string>
	<string>implant</string>
	<string>bridge</string>
	<string>denture</string>
	<string>retainer</string>
	<string>braces</string>
	<string>invisalign</string>
	<string>night_guard</string>
	<string>mouthguard</string>
	<string>fluoride_treatment</string>
	<string>sealant</string>
	<string>whitening</string>
	<string>veneers</string>
	<string>bonding</string>
	<string>scaling</string>
	<string>root_planing</string>
	<string>gum_graft</string>
	<string>crown_lengthening</string>
	<string>apicoectomy</string>
	<string>orthodontic_wire</string>
	<string>bracket</string>
	<string>band</string>
	<string>elastic</string>
	<string>chain</string>
	<string>spring</string>
	<string>button</string>
	<string>hook</string>
	<string>tube</string>
	<string>cleat</string>
	<string>power_chain</string>
	<string>separator</string>
	<string>spacer</string>
	<string>expander</string>
	<string>headgear</string>
	<string>facemask</string>
	<string>chin_cup</string>
	<string>tongue_crib</string>
	<string>habit_breaker</string>
	<string>lip_bumper</string>
	<string>palatal_expander</string>
	<string>quad_helix</string>
	<string>transpalatal_arch</string>
	<string>lingual_arch</string>
	<string>nance_button</string>
	<string>bite_plate</string>
	<string>splint</string>
	<string>occlusal_guard</string>
	<string>stain</string>
	<string>discoloration</string>
	<string>fluorosis</string>
	<string>hypoplasia</string>
	<string>amelogenesis_imperfecta</string>
	<string>dentinogenesis_imperfecta</string>
	<string>enamel_hypoplasia</string>
	<string>dental_fluorosis</string>
	<string>tetracycline_staining</string>
	<string>intrinsic_staining</string>
	<string>extrinsic_staining</string>
</array>
</plist>
